<% layout('layout/boilerplate') %> 

<div class="conatiner">
  <div class="row" style="width: 70vw; margin: 0 auto">
    <div class="col-lg-6">
      <div class="backery-detail-image mt-5 p-2 border rounded" style="height: 410px; overflow: hidden; background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5))">
        <img src=<%=backery.image %> alt="Backery Image" width="100%" style='border: 2px solid, #000000; border-radius:5%; height: 100%; width: 100%; object-fit: contain'> 
      </div>
    </div>
    <div class="col-lg-6" >
      <div style="background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5))" class="mt-5 pl-3 pt-1 pb-1 rounded">
        <ul style="list-style: none; text-decoration: none">
          <li> Backerys name: <%= backery.backerysname %> </li>
          <li>Owners Name:  <%= backery.ownersName %> </li>
          <li>Owners Family: <%= backery.ownersFamily %> </li>
          <li>Number Of Poor People: <%= backery.numberOfPoorPeople %> </li>
          <li>Average Monthly Incom Per Person: <%= backery.averageMonthlyIncomPerPerson %> </li>
          <li>Backery provience: <%= backery.provience %> </li>
          <li>Backery City: <%= backery.city %> </li>
          <li>Backery district: <%= backery.district %> </li>
          <li>Backery Village: <%= backery.village %> </li>
          <li>Backery Street: <%= backery.Street %> </li>
          <li>Backery number: <%= backery.number %> </li>
          <li>Backery postCode: <%= backery.postCode %> </li>
          <li>Backery Mobile Number: <%= backery.mobileNumber %> </li>
          <li>Backery City: <%= backery.city %> </li>
          <li>Backery Provience: <%= backery.provience %> </li>
          <li>Backery Location: <%= backery.location %> </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">      
      <% if(currentUser && currentUser.username ==backery.creator.username ) { %> 
        <form action="/backeryimagedelete/<%= backery._id%>" method="get">
          <input type="text" name="image" id="image" value="<%=backery.image %>" style="display:none" > <br/>
          <button class="btn btn-danger" type="submit">Delete image</button>
        </form>
      <% } %> 
      <h1>Donations</h1>
    Total Donated Amount:<%=backery.totalDonatedAmount%> <br>
    <br>
    <h3>Donation details</h3><br>
    <% for (let donate of donations.reverse()) {%> 
      <ul style="list-style: none; text-decoration: none" >
        <li>Gifted amount: <%=donate.amount  %> unit </li>
        <li>Date: <%=donate.date %> </li>
        <li>Confirmed Amount: <%=donate.confirmedAmount %>  </li>
        <li>  <h3> By:  <a href="/users/<%=donate.doneatorId %>"><%=donate.donatorsname%></a>  </h3></li>
        <li> Confirmed:  <%=donate.confirmation  %>  </li>
      <% if(currentUser && currentUser.username==backery.creator.username) {%>
        <%if(donate.confirmation=="Waiting for confirmation"||donate.confirmation=='NaN') { %>  
        <a href="http:/donateconfirm/<%= donate.id  %>/<%= backery.id %> ">Confirm gifted</a> <br>
      <% } %> 
        <a href="http:/editconfiremdamount/<%= donate.id %>/<%= backery.id %>">Edit confirmed amount</a>
    <% } %> 
    </ul>
    <% } %> 
    </ul>

    <% if(!currentUser || currentUser.username !=backery.creator.username ) { %> 

    <br/>
      <br/><a href="http:/users/<%= backery.creator.id %>"> Creator</a><br/><br/>

      
      <a href="/donate/<%= backery.id %>">Donate to this backery</a> <br> 

    <br> <br> 



    <% } else {%> 
      
      <a href="http:/newb/<%=backery.id %>/edit ">Edit informatin</a>

    <br/> <br/>

    <form action="/backerydeleteconfirm/<%=backery._id %>" method="get">
      

      <button type="submit">delete</button>

      </form> <br>

      <% } %> 



    </div>
  </div>
</div>